{% if product.image_url is not null %}
  {% set image_url = product.image_url %}
  {% set style = '' %}
{% else %}
  {% set image_url = 'placeholders/product-11.jpg' | global_img_url %}
  {% set style = 'img-placeholder' %}
{% endif %}
<div class="product-card">
  {% if product.compared_price > product.price %}
  <div class="ribbon"><span class="warning">{{ settings.product_ribbon_text }}</span></div>
  {% endif %}
  <div class="product-card__image-container">
    <div class="view-buttom">
      <a href="/productos/{{ product.permalink }}" class="view-buttom__link">{{ settings.product_view_text }} <i class="mdi mdi-arrow-right"></i></a>
    </div>
    <a href="/productos/{{ product.permalink }}" class="clearfix product-card__image-link">
      {% if product.images | length > 1 %}
        {% for thumbnail in product.images [:2] %}
        <img class="product-card__image preview-{{ loop.index }}" src="{{ thumbnail.url }}&w={{ width }}&h={{ height }}&fit=crop" width="{{ width }}" alt="{{ product.name }}">
        {% endfor %}
      {% else %}
        <img class="product-card__image preview-1" src="{{ image_url }}&w={{ width }}&h={{ height }}&fit=crop" width="{{ width }}" alt="{{ product.name }}">
      {% endif %}
    </a>
  </div>
  <div class="product-card__description">
    {% if product.compared_price > product.price %}
    <p class="product-card__discount">{{ settings.product_compared_text }} <span class="product-card--compared-price">{{ product.compared_price | money('symbol', 'code') }}</span></p>
    {% endif %}
    <h2 class="product-card__title">
      <a href="/productos/{{ product.permalink }}" class="product-card__title-link">{{ product.name }}</a>
    </h2>
    <p class="product-card--price">{{ product.price | money('symbol', 'code') }}</p>
  </div>
</div>
