<!-- Sidebar -->
<div class="overlay"></div>
<div id="sidebar">
    <ul class="sidebar-nav close-menu visible-xs">
      <li>
        <a href="#menu-toggles" class="menu-toggle"><i class="mdi mdi-close"></i></a>
      </li>
    </ul>
    <ul class="sidebar-nav logo">
        <li class="sidebar-brand__logo">
        {% if settings.use_logo %}
          <a class="logo-image-link" href="/">
            <img class="logotype" src="{{ settings['nav_logo'] }}" alt="{{ store.name }}">
        {% else %}
          <a class="logo-text-link" href="/">
          {{ store.name }}
        {% endif %}
          </a>
        </li>
    </ul>
    <hr class="separator">
    <ul class="sidebar-nav menu">
      {% for link in menus.main %}
        {% if link.children | length > 0 %}
        <li class="has-children">
          <a href="{{ link.url }}" class="sub__link">{{ link.name }}</a>
          <a href="{{ link.url }}" class="sidebar-nav__more submenu-toggle"><i class="mdi mdi-chevron-down"></i></a>
          <ul class="sidebar-subnav">
            {% for children in link.children %}
              {% include '_nav-item.twig' with {'link': children} %}
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{ link.url }}" class="simple__link">{{ link.name }}</a><li>
      {% endif %}
    {% endfor %}
    {% if cart.total_items > 0 %}
      <li class="hidden-xs">
        <a class="simple__link" href="/carrito"><i class="mdi mdi-cart"></i> Carrito <sup class="sup-number">{{ cart.total_items }}</sup></a>
      </li>
    {% else %}
      <li class="hidden-xs">
        <a class="simple__link" href="/carrito"><i class="mdi mdi-cart"></i> Carrito <sup class="sup-number">0</sup></a>
      </li>
    {% endif %}
    {% if store.customer_accounts_enabled_or_optional %}
      {% if customer %}
        <li><a class="simple__link" href="/cuenta/logout"><i class="mdi mdi-logout"></i> Salir</a></li>
        <li><a class="simple__link" href="/cuenta"><i class="mdi mdi-account"></i> Mi Cuenta</a></li>
      {% else %}
      <li><a class="simple__link" href="/cuenta/login"><i class="mdi mdi-login"></i> Ingresar</a></li>
      <li><a class="simple__link" href="/cuenta/registro"><i class="mdi mdi-account"></i> Registrarse</a></li>
      {% endif %}
    {% endif %}
    </ul>
    <hr class="separator">
    <ul class="sidebar-nav">
      <li>
        <form action="/buscar" method="get" class="main-search">
          <input class="input-search" type="text" name="q" placeholder="Buscar..." autocomplete="on">
          <button type="submit" class="button-search"><i class="mdi mdi-magnify" aria-hidden="true"></i></button>
        </form>
      </li>
    </ul>
    <div class="sidebar-nav sidebar-footer">
      {% if settings.footer_display_contact_data %}
        <div class="contact">
          <p class="contact__title">Contacto</p>
          <p class="contact__text">{{ settings.footer_contact_data }}</p>
        </div>
      {% endif %}
      {% if settings.footer_display_social %}
        {% include '_social_network.twig' %}
      {% endif %}
      {% if settings.footer_display_payment_methods %}
        {% include '_payments.twig' %}
      {% endif %}
      <div class="legal">
        {% if settings.policy_url %}
        <p class="legal__text"><a href="{{ settings.policy_url }}">Aviso de Privacidad</a></p>
        {% endif %}
        <p class="copyright__text">Copyright © 2017 Tienda creada con <a target="_blank" href="https://www.shoperti.com/"><strong>Shoperti</strong></a>.</p>
      </div>
    </div>

</div>
<!-- /#sidebar-wrapper -->