{% extends 'layout.twig' %}

{% block body %}
<div class="container-fluid search-section">


  <div class="row page-search">
    <div class="col-xs-12 section-horizontal">
      <div class="row header">
        <div class="col-xs-12 search__description">
          <div class="outer">
            <div class="inner">
            {% if results.products | length > 0 %}
              {% if settings.heading_uppercase_titles %}
              <h1 class="title page-title">{{ 'Término:' | upper }} {{ search | upper }}</h1>
              {% else %}
              <h1 class="title page-title">Término: <strong>{{ search }}</h1>
              {% endif %}
              <p class="search-text">Productos encontrados</p>
              {% else %}
              {% if settings.heading_uppercase_titles %}
              <h1 class="title page-title">{{ 'Sin resultados' | upper }}</h1>
              {% else %}
              <h1 class="title page-title">Sin resultados</h1>
              {% endif %}
              <p class="search-text">Intenta otro término de búsqueda.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if results.products | length > 0 %}
    <div class="row products__row">
      <div class="col-sm-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th >Nombre</th>
              <th class="hidden-xs"></th>
              <th class="text-right">Precio</th>
            </tr>
          </thead>
          <tbody></tbody>
          {% for product in results.products %}
          <tr>
            <td width="20%" class="hidden-xs">
              <a href="/productos/{{ product.permalink }}">
                {% if product.image_url %}
                <img src="{{ product.image_url }}&w=128&h=128" class="img img-responsive center-block pull-left" alt="{{ product.name | escape  }}">
                {% else %}
                <img src="{{ 'placeholders/product-11.jpg' | global_img_url }}&w=128&h=128" class="img img-responsive center-block pull-left" alt="{{ product.name | escape  }}">
                {% endif %}
              </a>
            </td>
            <td>
              <a href="/productos/{{ product.permalink }}">
                {{ product.name }}
              </a>
            </td>
            <td class="text-right">
              {{ product.price | money('symbol', 'code') }}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% include '_pagination.twig' %}
  {% endif %}

</div> <!-- .container-fluid -->
{% endblock %}
